certifi==2020.6.20
cycler==0.10.0
graphviz==0.14
kiwisolver==1.2.0
matplotlib==3.2.2
numpy==1.18.5
pydot==1.4.1
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
python-dateutil==2.8.1
scipy==1.5.0
six==1.15.0
tornado==6.0.4
pytest==5.4.3
